@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(19, 34, 51);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.section {
    text-align: center;
    color: #333;
    /* background-color: #ffc107; */
    width: 95%;
    margin-left: 2.5%;
}

.section h2{
    color: white;
    width: fit-content;
    font-size: 42px;
    font-weight: 600;
    position: relative;
}

.section h2::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f5b65b;
}

.section p {
    color: white;
    text-align: left;
    line-height: 25px;
    font-size: 18px;
}

.focus{
    color: #f5b65b;
    font-weight: 800;
}

.services {
    background-color: #28a745;
}

.footer {
    background-color: #343a40;
    color: white;
}

.footer a {
    color: #ffc107;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    color: #fff;
}

.main-title{
    text-decoration: none;
    font-size: 42px;
    padding: 1.2rem;
    width: 100%;
    padding-left: 50px;
    background-color: rgb(25, 44, 66);
    margin: 0;
    color: white;
    display: block;
    font-weight: 500;
    position: relative;
}

.main-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #f5b65b;
}

.main-title:visited{
    color: white;
}

form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

label{
    color: white;
    float: left;
}

form input[type=text], form input[type=email], form textarea{
    width: 100%;
    min-height: 32px;
    background-color: rgb(12, 22, 34);
    outline: none;
    border: 1px solid #f5b65b;
    border-radius: 6px;
    margin: 5px;
}

form input[type=submit]{
    background-color: #f5b65b;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: 600;
}