table {
    width: 100%;
    /* border-collapse: collapse; */
    display: flex;
    justify-content: center;
    background-color: rgb(29, 51, 77);
}

table tr {
    display: flex;
    padding: 10px;
    /* justify-content: space-between; */
}

.nav-btn{
    text-decoration: none;
    color: white;
    font-size: 21px;
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    border-style: none solid none none;
    border-color: #f5b65b;
    border-width: 3px;
    height: 47px;
    cursor: pointer;
    font-weight: 400;
}

.nav-btn:hover{
    color: rgb(185, 185, 185)
}

tr td:last-child .nav-btn{
    border: none;
}